.footer {
  background-color: #333333;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    li {
      list-style-type: none;
      margin-right: auto;
      a {
        color: #ffffff;
      }
    }
  }
}