.header {
  background-color: #222222;
  height: 114px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;

    li {
      position: relative;
      list-style-type: none;
      margin-right: auto;

      a {
        color: white;
      }
    }
    .header__company {
      font-family: 'RobotoBold', sans-serif;
      a {
        display: inline-block;
        width: inherit;
        background-image: url("../../img/checkers.svg");
        background-repeat: no-repeat;
        padding-left: 60px;
      }
    }
    li:nth-child(2){
      margin-left: auto;
    }
    li.active::after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -48px;
      border-bottom: 8px solid #f4c116;
    }
  }
}