.main {
  .main__form {
    height: 142px;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h4 {
      width: 82%;
    }
    select {
      width: 24%;
      margin-right: 4%;
    }
    input {
      width: 24%;
      margin-right: 4%;
    }
    button {
      width: 24%;
    }
  }
}